**DataFrame**

In [0]:
# DataFrame is a two dimenstional table consist of rows and columns like spread sheet
# Each column is having respective column name
# Each row will be determined by the row number

In [0]:
# careat a dataframe from a static list
list1 = [(101,'Anusha'),(102,'Kompalli')]
col_name = ['ID','NAME']
df = spark.createDataFrame(data = list1 ,schema=col_name)
df.show()
type(df)

+---+--------+
| ID|    NAME|
+---+--------+
|101|  Anusha|
|102|Kompalli|
+---+--------+

pyspark.sql.connect.dataframe.DataFrame

In [0]:
# https://spark.apache.org/docs/latest/sql-data-sources-load-save-functions.html

In [0]:
# Create a dataframe from csv file loaced in the volume
file_path = '/Volumes/workspace/mclass/batch/Airline Dataset Updated.csv'
df = spark.read.format('csv').load(file_path)
df.show()

+------------+----------+--------------+------+---+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+--------------+---------------+-------------------+-------------+
|         _c0|       _c1|           _c2|   _c3|_c4|                 _c5|                 _c6|                 _c7|                 _c8|              _c9|         _c10|          _c11|           _c12|               _c13|         _c14|
+------------+----------+--------------+------+---+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+--------------+---------------+-------------------+-------------+
|Passenger ID|First Name|     Last Name|Gender|Age|         Nationality|        Airport Name|Airport Country Code|        Country Name|Airport Continent|   Continents|Departure Date|Arrival Airport|         Pilot Name|Flight Status|
|      ABVWIg|    Edithe|        Leggis|Female| 62|               Japan|    Coldfoot Airport|                  US|       United States|              NAM|North America|     6/28/2022|            CXF|      Edithe Leggis|      On Time|
|      jkXXAX|    Elwood|          Catt|  Male| 62|           Nicaragua|   Kugluktuk Airport|                  CA|              Canada|              NAM|North America|    12/26/2022|            YCO|        Elwood Catt|      On Time|
|      CdUz2g|     Darby|       Felgate|  Male| 67|              Russia|Grenoble-Isère Ai...|                  FR|              France|               EU|       Europe|     1/18/2022|            GNB|      Darby Felgate|      On Time|
|      BRS38V|  Dominica|          Pyle|Female| 71|               China|Ottawa / Gatineau...|                  CA|              Canada|              NAM|North America|     9/16/2022|            YND|      Dominica Pyle|      Delayed|
|      9kvTLo|       Bay|       Pencost|  Male| 21|               China|     Gillespie Field|                  US|       United States|              NAM|North America|     2/25/2022|            SEE|        Bay Pencost|      On Time|
|      nMJKVh|      Lora|       Durbann|Female| 55|              Brazil|Coronel Horácio d...|                  BR|              Brazil|              SAM|South America|     6/10/2022|            LEC|       Lora Durbann|      On Time|
|      8IPFPE|      Rand|          Bram|  Male| 73|         Ivory Coast|   Duxford Aerodrome|                  GB|      United Kingdom|               EU|       Europe|    10/30/2022|            QFO|          Rand Bram|    Cancelled|
|      pqixbY|  Perceval|      Dallosso|  Male| 36|             Vietnam|Maestro Wilson Fo...|                  BR|              Brazil|              SAM|South America|      4/7/2022|            STM|  Perceval Dallosso|    Cancelled|
|      QNAs2R|     Aleda|        Pigram|Female| 35|Palestinian Terri...|Venice Marco Polo...|                  IT|               Italy|               EU|       Europe|     8/20/2022|            VCE|       Aleda Pigram|      On Time|
|      3jmudz|    Burlie|       Schustl|  Male| 13|            Thailand|   Vermilion Airport|                  CA|              Canada|              NAM|North America|      4/6/2022|            YVG|     Burlie Schustl|      On Time|
|      2P41gZ|     Porty|          Jori|  Male| 39|             Tunisia|Nuevo Casas Grand...|                  MX|              Mexico|              NAM|North America|     5/27/2022|            NCG|         Porty Jori|    Cancelled|
|      sBf524|    Briant|    De La Haye|  Male| 71|              Russia| Ruben Cantu Airport|                  PA|              Panama|              NAM|North America|      2/6/2022|            SYP|  Briant De La Haye|      Delayed|
|      PlwJZT|     Kalie|        Scoble|Female| 47|              Sweden|     Loralai Airport|                  PK|            Pakistan|               AS|         Asia|     3/19/2022|            LRG|       Kalie Scoble|      Delayed|
|      iU75x3|  Catriona|      Beaument|Female| 77|              Russia|       Cudal Airport|                  AU|           Australia|               OC|      Oceania|     3/24/2022|            CUG|  Catriona Beaument|      Delayed|
|      GUta6R|   Amberly|      Handling|Female| 32|               China|Farmington Region...|                  US|       United States|              NAM|North America|      3/7/2022|            FAM|   Amberly Handling|      Delayed|
|      8qA80a|      Dyna|De'Vere - Hunt|Female| 22|               China|  Oudtshoorn Airport|                  ZA|        South Africa|               AF|       Africa|     7/18/2022|            OUH|Dyna De'Vere - Hunt|    Cancelled|
|      2haCDu|   Janella|      Hardaker|Female| 28|            Colombia|      Zaraza Airport|                  VE|Venezuela, Boliva...|              SAM|South America|     9/23/2022|            ZRZ|   Janella Hardaker|      On Time|
|      WiVl8o|     Alvin|        Wenzel|  Male| 12|              Greece|       Enshi Airport|                  CN|               China|               AS|         Asia|     3/29/2022|            ENH|       Alvin Wenzel|      Delayed|
|      e0H5LI|   Jerrine|       Peeters|Female| 87|         Philippines|    Thompson Airport|                  CA|              Canada|              NAM|North America|     11/3/2022|            YTH|    Jerrine Peeters|    Cancelled|
+------------+----------+--------------+------+---+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+--------------+---------------+-------------------+-------------+
only showing top 20 rows

In [0]:
# Create a dataframe from csv file loaced in the volume
file_path = '/Volumes/workspace/mclass/batch/Airline Dataset Updated.csv'
df = spark.read.format('csv').option('header','true').load(file_path)
df.show()

+------------+----------+--------------+------+---+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+--------------+---------------+-------------------+-------------+
|Passenger ID|First Name|     Last Name|Gender|Age|         Nationality|        Airport Name|Airport Country Code|        Country Name|Airport Continent|   Continents|Departure Date|Arrival Airport|         Pilot Name|Flight Status|
+------------+----------+--------------+------+---+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+--------------+---------------+-------------------+-------------+
|      ABVWIg|    Edithe|        Leggis|Female| 62|               Japan|    Coldfoot Airport|                  US|       United States|              NAM|North America|     6/28/2022|            CXF|      Edithe Leggis|      On Time|
|      jkXXAX|    Elwood|          Catt|  Male| 62|           Nicaragua|   Kugluktuk Airport|                  CA|              Canada|              NAM|North America|    12/26/2022|            YCO|        Elwood Catt|      On Time|
|      CdUz2g|     Darby|       Felgate|  Male| 67|              Russia|Grenoble-Isère Ai...|                  FR|              France|               EU|       Europe|     1/18/2022|            GNB|      Darby Felgate|      On Time|
|      BRS38V|  Dominica|          Pyle|Female| 71|               China|Ottawa / Gatineau...|                  CA|              Canada|              NAM|North America|     9/16/2022|            YND|      Dominica Pyle|      Delayed|
|      9kvTLo|       Bay|       Pencost|  Male| 21|               China|     Gillespie Field|                  US|       United States|              NAM|North America|     2/25/2022|            SEE|        Bay Pencost|      On Time|
|      nMJKVh|      Lora|       Durbann|Female| 55|              Brazil|Coronel Horácio d...|                  BR|              Brazil|              SAM|South America|     6/10/2022|            LEC|       Lora Durbann|      On Time|
|      8IPFPE|      Rand|          Bram|  Male| 73|         Ivory Coast|   Duxford Aerodrome|                  GB|      United Kingdom|               EU|       Europe|    10/30/2022|            QFO|          Rand Bram|    Cancelled|
|      pqixbY|  Perceval|      Dallosso|  Male| 36|             Vietnam|Maestro Wilson Fo...|                  BR|              Brazil|              SAM|South America|      4/7/2022|            STM|  Perceval Dallosso|    Cancelled|
|      QNAs2R|     Aleda|        Pigram|Female| 35|Palestinian Terri...|Venice Marco Polo...|                  IT|               Italy|               EU|       Europe|     8/20/2022|            VCE|       Aleda Pigram|      On Time|
|      3jmudz|    Burlie|       Schustl|  Male| 13|            Thailand|   Vermilion Airport|                  CA|              Canada|              NAM|North America|      4/6/2022|            YVG|     Burlie Schustl|      On Time|
|      2P41gZ|     Porty|          Jori|  Male| 39|             Tunisia|Nuevo Casas Grand...|                  MX|              Mexico|              NAM|North America|     5/27/2022|            NCG|         Porty Jori|    Cancelled|
|      sBf524|    Briant|    De La Haye|  Male| 71|              Russia| Ruben Cantu Airport|                  PA|              Panama|              NAM|North America|      2/6/2022|            SYP|  Briant De La Haye|      Delayed|
|      PlwJZT|     Kalie|        Scoble|Female| 47|              Sweden|     Loralai Airport|                  PK|            Pakistan|               AS|         Asia|     3/19/2022|            LRG|       Kalie Scoble|      Delayed|
|      iU75x3|  Catriona|      Beaument|Female| 77|              Russia|       Cudal Airport|                  AU|           Australia|               OC|      Oceania|     3/24/2022|            CUG|  Catriona Beaument|      Delayed|
|      GUta6R|   Amberly|      Handling|Female| 32|               China|Farmington Region...|                  US|       United States|              NAM|North America|      3/7/2022|            FAM|   Amberly Handling|      Delayed|
|      8qA80a|      Dyna|De'Vere - Hunt|Female| 22|               China|  Oudtshoorn Airport|                  ZA|        South Africa|               AF|       Africa|     7/18/2022|            OUH|Dyna De'Vere - Hunt|    Cancelled|
|      2haCDu|   Janella|      Hardaker|Female| 28|            Colombia|      Zaraza Airport|                  VE|Venezuela, Boliva...|              SAM|South America|     9/23/2022|            ZRZ|   Janella Hardaker|      On Time|
|      WiVl8o|     Alvin|        Wenzel|  Male| 12|              Greece|       Enshi Airport|                  CN|               China|               AS|         Asia|     3/29/2022|            ENH|       Alvin Wenzel|      Delayed|
|      e0H5LI|   Jerrine|       Peeters|Female| 87|         Philippines|    Thompson Airport|                  CA|              Canada|              NAM|North America|     11/3/2022|            YTH|    Jerrine Peeters|    Cancelled|
|      nL8kyD|    Warner|       Driutti|  Male| 62|               China|Guilin Liangjiang...|                  CN|               China|               AS|         Asia|      9/5/2022|            KWL|     Warner Driutti|    Cancelled|
+------------+----------+--------------+------+---+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+--------------+---------------+-------------------+-------------+
only showing top 20 rows

In [0]:
#read a file from a parquet file

file_path = '/Volumes/workspace/mclass/batch/titanic.parquet'
df = spark.read.format('parquet').load(file_path)
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [0]:
file_path = '/Volumes/workspace/mclass/batch/iris.txt'
df = spark.read.format('csv').option('header', True).option('sep', '|').load(file_path)
display(df)

5.1000000e+00 3.5000000e+00 1.4000000e+00 2.0000000e-01 0.0000000e+00
4.9000000e+00 3.0000000e+00 1.4000000e+00 2.0000000e-01 0.0000000e+00
4.7000000e+00 3.2000000e+00 1.3000000e+00 2.0000000e-01 0.0000000e+00
4.6000000e+00 3.1000000e+00 1.5000000e+00 2.0000000e-01 0.0000000e+00
5.0000000e+00 3.6000000e+00 1.4000000e+00 2.0000000e-01 0.0000000e+00
5.4000000e+00 3.9000000e+00 1.7000000e+00 4.0000000e-01 0.0000000e+00
4.6000000e+00 3.4000000e+00 1.4000000e+00 3.0000000e-01 0.0000000e+00
5.0000000e+00 3.4000000e+00 1.5000000e+00 2.0000000e-01 0.0000000e+00
4.4000000e+00 2.9000000e+00 1.4000000e+00 2.0000000e-01 0.0000000e+00
4.9000000e+00 3.1000000e+00 1.5000000e+00 1.0000000e-01 0.0000000e+00
5.4000000e+00 3.7000000e+00 1.5000000e+00 2.0000000e-01 0.0000000e+00
4.8000000e+00 3.4000000e+00 1.6000000e+00 2.0000000e-01 0.0000000e+00
4.8000000e+00 3.0000000e+00 1.4000000e+00 1.0000000e-01 0.0000000e+00
4.3000000e+00 3.0000000e+00 1.1000000e+00 1.0000000e-01 0.0000000e+00
5.8000000e+00 4.0000000e+00 1.2000000e+00 2.0000000e-01 0.0000000e+00
5.7000000e+00 4.4000000e+00 1.5000000e+00 4.0000000e-01 0.0000000e+00
5.4000000e+00 3.9000000e+00 1.3000000e+00 4.0000000e-01 0.0000000e+00
5.1000000e+00 3.5000000e+00 1.4000000e+00 3.0000000e-01 0.0000000e+00
5.7000000e+00 3.8000000e+00 1.7000000e+00 3.0000000e-01 0.0000000e+00
5.1000000e+00 3.8000000e+00 1.5000000e+00 3.0000000e-01 0.0000000e+00
5.4000000e+00 3.4000000e+00 1.7000000e+00 2.0000000e-01 0.0000000e+00
5.1000000e+00 3.7000000e+00 1.5000000e+00 4.0000000e-01 0.0000000e+00
4.6000000e+00 3.6000000e+00 1.0000000e+00 2.0000000e-01 0.0000000e+00
5.1000000e+00 3.3000000e+00 1.7000000e+00 5.0000000e-01 0.0000000e+00
4.8000000e+00 3.4000000e+00 1.9000000e+00 2.0000000e-01 0.0000000e+00
5.0000000e+00 3.0000000e+00 1.6000000e+00 2.0000000e-01 0.0000000e+00
5.0000000e+00 3.4000000e+00 1.6000000e+00 4.0000000e-01 0.0000000e+00
5.2000000e+00 3.5000000e+00 1.5000000e+00 2.0000000e-01 0.0000000e+00
5.2000000e+00 3.4000000e+00 1.4000000e+00 2.0000000e-01 0.0000000e+00
4.7000000e+00 3.2000000e+00 1.6000000e+00 2.0000000e-01 0.0000000e+00
4.8000000e+00 3.1000000e+00 1.6000000e+00 2.0000000e-01 0.0000000e+00
5.4000000e+00 3.4000000e+00 1.5000000e+00 4.0000000e-01 0.0000000e+00
5.2000000e+00 4.1000000e+00 1.5000000e+00 1.0000000e-01 0.0000000e+00
5.5000000e+00 4.2000000e+00 1.4000000e+00 2.0000000e-01 0.0000000e+00
4.9000000e+00 3.1000000e+00 1.5000000e+00 1.0000000e-01 0.0000000e+00
5.0000000e+00 3.2000000e+00 1.2000000e+00 2.0000000e-01 0.0000000e+00
5.5000000e+00 3.5000000e+00 1.3000000e+00 2.0000000e-01 0.0000000e+00
4.9000000e+00 3.1000000e+00 1.5000000e+00 1.0000000e-01 0.0000000e+00
4.4000000e+00 3.0000000e+00 1.3000000e+00 2.0000000e-01 0.0000000e+00
5.1000000e+00 3.4000000e+00 1.5000000e+00 2.0000000e-01 0.0000000e+00
5.0000000e+00 3.5000000e+00 1.3000000e+00 3.0000000e-01 0.0000000e+00
4.5000000e+00 2.3000000e+00 1.3000000e+00 3.0000000e-01 0.0000000e+00
4.4000000e+00 3.2000000e+00 1.3000000e+00 2.0000000e-01 0.0000000e+00
5.0000000e+00 3.5000000e+00 1.6000000e+00 6.0000000e-01 0.0000000e+00
5.1000000e+00 3.8000000e+00 1.9000000e+00 4.0000000e-01 0.0000000e+00
4.8000000e+00 3.0000000e+00 1.4000000e+00 3.0000000e-01 0.0000000e+00
5.1000000e+00 3.8000000e+00 1.6000000e+00 2.0000000e-01 0.0000000e+00
4.6000000e+00 3.2000000e+00 1.4000000e+00 2.0000000e-01 0.0000000e+00
5.3000000e+00 3.7000000e+00 1.5000000e+00 2.0000000e-01 0.0000000e+00
5.0000000e+00 3.3000000e+00 1.4000000e+00 2.0000000e-01 0.0000000e+00
7.0000000e+00 3.2000000e+00 4.7000000e+00 1.4000000e+00 1.0000000e+00
6.4000000e+00 3.2000000e+00 4.5000000e+00 1.5000000e+00 1.0000000e+00
6.9000000e+00 3.1000000e+00 4.9000000e+00 1.5000000e+00 1.0000000e+00
5.5000000e+00 2.3000000e+00 4.0000000e+00 1.3000000e+00 1.0000000e+00
6.5000000e+00 2.8000000e+00 4.6000000e+00 1.5000000e+00 1.0000000e+00
5.7000000e+00 2.8000000e+00 4.5000000e+00 1.3000000e+00 1.0000000e+00
6.3000000e+00 3.3000000e+00 4.7000000e+00 1.6000000e+00 1.0000000e+00
4.9000000e+00 2.4000000e+00 3.3000000e+00 1.0000000e+00 1.0000000e+00
6.6000000e+00 2.9000000e+00 4.6000000e+00 1.3000000e+00 1.0000000e+00
5.2000000e+00 2.7000000e+00 3.9000000e+00 1.4000000e+00 1.0000000e+00
5.0000000e+00 2.0000000e+00 3.5000000e+00 1.0000000e+00 1.0000000e+00
5.9000000e+00 3.0000000e+00 4.2000000e+00 1.5000000e+00 1.0000000e+00
6.0000000e+00 2.2000000e+00 4.0000000e+00 1.0000000e+00 1.0000000e+00
6.1000000e+00 2.9000000e+00 4.7000000e+00 1.4000000e+00 1.0000000e+00
5.6000000e+00 2.9000000e+00 3.6000000e+00 1.3000000e+00 1.0000000e+00
6.7000000e+00 3.1000000e+00 4.4000000e+00 1.4000000e+00 1.0000000e+00
5.6000000e+00 3.0000000e+00 4.5000000e+00 1.5000000e+00 1.0000000e+00
5.8000000e+00 2.7000000e+00 4.1000000e+00 1.0000000e+00 1.0000000e+00
6.2000000e+00 2.2000000e+00 4.5000000e+00 1.5000000e+00 1.0000000e+00
5.6000000e+00 2.5000000e+00 3.9000000e+00 1.1000000e+00 1.0000000e+00
5.9000000e+00 3.2000000e+00 4.8000000e+00 1.8000000e+00 1.0000000e+00
6.1000000e+00 2.8000000e+00 4.0000000e+00 1.3000000e+00 1.0000000e+00
6.3000000e+00 2.5000000e+00 4.9000000e+00 1.5000000e+00 1.0000000e+00
6.1000000e+00 2.8000000e+00 4.7000000e+00 1.2000000e+00 1.0000000e+00
6.4000000e+00 2.9000000e+00 4.3000000e+00 1.3000000e+00 1.0000000e+00
6.6000000e+00 3.0000000e+00 4.4000000e+00 1.4000000e+00 1.0000000e+00
6.8000000e+00 2.8000000e+00 4.8000000e+00 1.4000000e+00 1.0000000e+00
6.7000000e+00 3.0000000e+00 5.0000000e+00 1.7000000e+00 1.0000000e+00
6.0000000e+00 2.9000000e+00 4.5000000e+00 1.5000000e+00 1.0000000e+00
5.7000000e+00 2.6000000e+00 3.5000000e+00 1.0000000e+00 1.0000000e+00
5.5000000e+00 2.4000000e+00 3.8000000e+00 1.1000000e+00 1.0000000e+00
5.5000000e+00 2.4000000e+00 3.7000000e+00 1.0000000e+00 1.0000000e+00
5.8000000e+00 2.7000000e+00 3.9000000e+00 1.2000000e+00 1.0000000e+00
6.0000000e+00 2.7000000e+00 5.1000000e+00 1.6000000e+00 1.0000000e+00
5.4000000e+00 3.0000000e+00 4.5000000e+00 1.5000000e+00 1.0000000e+00
6.0000000e+00 3.4000000e+00 4.5000000e+00 1.6000000e+00 1.0000000e+00
6.7000000e+00 3.1000000e+00 4.7000000e+00 1.5000000e+00 1.0000000e+00
6.3000000e+00 2.3000000e+00 4.4000000e+00 1.3000000e+00 1.0000000e+00
5.6000000e+00 3.0000000e+00 4.1000000e+00 1.3000000e+00 1.0000000e+00
5.5000000e+00 2.5000000e+00 4.0000000e+00 1.3000000e+00 1.0000000e+00
5.5000000e+00 2.6000000e+00 4.4000000e+00 1.2000000e+00 1.0000000e+00
6.1000000e+00 3.0000000e+00 4.6000000e+00 1.4000000e+00 1.0000000e+00
5.8000000e+00 2.6000000e+00 4.0000000e+00 1.2000000e+00 1.0000000e+00
5.0000000e+00 2.3000000e+00 3.3000000e+00 1.0000000e+00 1.0000000e+00
5.6000000e+00 2.7000000e+00 4.2000000e+00 1.3000000e+00 1.0000000e+00
5.7000000e+00 3.0000000e+00 4.2000000e+00 1.2000000e+00 1.0000000e+00
5.7000000e+00 2.9000000e+00 4.2000000e+00 1.3000000e+00 1.0000000e+00
6.2000000e+00 2.9000000e+00 4.3000000e+00 1.3000000e+00 1.0000000e+00
5.1000000e+00 2.5000000e+00 3.0000000e+00 1.1000000e+00 1.0000000e+00
5.7000000e+00 2.8000000e+00 4.1000000e+00 1.3000000e+00 1.0000000e+00
6.3000000e+00 3.3000000e+00 6.0000000e+00 2.5000000e+00 2.0000000e+00
5.8000000e+00 2.7000000e+00 5.1000000e+00 1.9000000e+00 2.0000000e+00
7.1000000e+00 3.0000000e+00 5.9000000e+00 2.1000000e+00 2.0000000e+00
6.3000000e+00 2.9000000e+00 5.6000000e+00 1.8000000e+00 2.0000000e+00
6.5000000e+00 3.0000000e+00 5.8000000e+00 2.2000000e+00 2.0000000e+00
7.6000000e+00 3.0000000e+00 6.6000000e+00 2.1000000e+00 2.0000000e+00
4.9000000e+00 2.5000000e+00 4.5000000e+00 1.7000000e+00 2.0000000e+00
7.3000000e+00 2.9000000e+00 6.3000000e+00 1.8000000e+00 2.0000000e+00
6.7000000e+00 2.5000000e+00 5.8000000e+00 1.8000000e+00 2.0000000e+00
7.2000000e+00 3.6000000e+00 6.1000000e+00 2.5000000e+00 2.0000000e+00
6.5000000e+00 3.2000000e+00 5.1000000e+00 2.0000000e+00 2.0000000e+00
6.4000000e+00 2.7000000e+00 5.3000000e+00 1.9000000e+00 2.0000000e+00
6.8000000e+00 3.0000000e+00 5.5000000e+00 2.1000000e+00 2.0000000e+00
5.7000000e+00 2.5000000e+00 5.0000000e+00 2.0000000e+00 2.0000000e+00
5.8000000e+00 2.8000000e+00 5.1000000e+00 2.4000000e+00 2.0000000e+00
6.4000000e+00 3.2000000e+00 5.3000000e+00 2.3000000e+00 2.0000000e+00
6.5000000e+00 3.0000000e+00 5.5000000e+00 1.8000000e+00 2.0000000e+00
7.7000000e+00 3.8000000e+00 6.7000000e+00 2.2000000e+00 2.0000000e+00
7.7000000e+00 2.6000000e+00 6.9000000e+00 2.3000000e+00 2.0000000e+00
6.0000000e+00 2.2000000e+00 5.0000000e+00 1.5000000e+00 2.0000000e+00
6.9000000e+00 3.2000000e+00 5.7000000e+00 2.3000000e+00 2.0000000e+00
5.6000000e+00 2.8000000e+00 4.9000000e+00 2.0000000e+00 2.0000000e+00
7.7000000e+00 2.8000000e+00 6.7000000e+00 2.0000000e+00 2.0000000e+00
6.3000000e+00 2.7000000e+00 4.9000000e+00 1.8000000e+00 2.0000000e+00
6.7000000e+00 3.3000000e+00 5.7000000e+00 2.1000000e+00 2.0000000e+00
7.2000000e+00 3.2000000e+00 6.0000000e+00 1.8000000e+00 2.0000000e+00
6.2000000e+00 2.8000000e+00 4.8000000e+00 1.8000000e+00 2.0000000e+00
6.1000000e+00 3.0000000e+00 4.9000000e+00 1.8000000e+00 2.0000000e+00
6.4000000e+00 2.8000000e+00 5.6000000e+00 2.1000000e+00 2.0000000e+00
7.2000000e+00 3.0000000e+00 5.8000000e+00 1.6000000e+00 2.0000000e+00
7.4000000e+00 2.8000000e+00 6.1000000e+00 1.9000000e+00 2.0000000e+00
7.9000000e+00 3.8000000e+00 6.4000000e+00 2.0000000e+00 2.0000000e+00
6.4000000e+00 2.8000000e+00 5.6000000e+00 2.2000000e+00 2.0000000e+00
6.3000000e+00 2.8000000e+00 5.1000000e+00 1.5000000e+00 2.0000000e+00
6.1000000e+00 2.6000000e+00 5.6000000e+00 1.4000000e+00 2.0000000e+00
7.7000000e+00 3.0000000e+00 6.1000000e+00 2.3000000e+00 2.0000000e+00
6.3000000e+00 3.4000000e+00 5.6000000e+00 2.4000000e+00 2.0000000e+00
6.4000000e+00 3.1000000e+00 5.5000000e+00 1.8000000e+00 2.0000000e+00
6.0000000e+00 3.0000000e+00 4.8000000e+00 1.8000000e+00 2.0000000e+00
6.9000000e+00 3.1000000e+00 5.4000000e+00 2.1000000e+00 2.0000000e+00
6.7000000e+00 3.1000000e+00 5.6000000e+00 2.4000000e+00 2.0000000e+00
6.9000000e+00 3.1000000e+00 5.1000000e+00 2.3000000e+00 2.0000000e+00
5.8000000e+00 2.7000000e+00 5.1000000e+00 1.9000000e+00 2.0000000e+00
6.8000000e+00 3.2000000e+00 5.9000000e+00 2.3000000e+00 2.0000000e+00
6.7000000e+00 3.3000000e+00 5.7000000e+00 2.5000000e+00 2.0000000e+00
6.7000000e+00 3.0000000e+00 5.2000000e+00 2.3000000e+00 2.0000000e+00
6.3000000e+00 2.5000000e+00 5.0000000e+00 1.9000000e+00 2.0000000e+00
6.5000000e+00 3.0000000e+00 5.2000000e+00 2.0000000e+00 2.0000000e+00
6.2000000e+00 3.4000000e+00 5.4000000e+00 2.3000000e+00 2.0000000e+00
5.9000000e+00 3.0000000e+00 5.1000000e+00 1.8000000e+00 2.0000000e+00

**Transformation**

* select rewuired columns
* Changig the data type
* Adding calculated columns
* Renaming columns
* Filtering
* String and Data Formattings
* Aggregations
* Remove null and duplicates
* Joins
* Unions
* Rank, dense rank, getting last row and next row values

In [0]:
# Create a dataframe from a static list 
# syntax: spark.ceateDataFrame(data = <list> ,schema=<schemalist>)
staticlist =[("     James","Smith","USA","CA",3000),
    ("Michael","Rose","USA","NY",2500),
    ("Robert","Williams","USA","CA",6000),
    ("Maria","Jones       ","USA","FL",4000),
    ("james","jones         ","UK","LND",8000),
    ("john","doe","UK","LND",4000),
    ("        Michel","bevon","UK","LND",5000),
    ("james","jones","UK","LND",8000),
    ("john","doe","UK","MCR",4000),
    ("Michel","bevon","UK","MCR",5000),
 ]
columns = ["firstname","lastname","country","state","salary"]
df = spark.createDataFrame(data = staticlist,schema = columns)
df.show()

+--------------+--------------+-------+-----+------+
|     firstname|      lastname|country|state|salary|
+--------------+--------------+-------+-----+------+
|         James|         Smith|    USA|   CA|  3000|
|       Michael|          Rose|    USA|   NY|  2500|
|        Robert|      Williams|    USA|   CA|  6000|
|         Maria|  Jones       |    USA|   FL|  4000|
|         james|jones         |     UK|  LND|  8000|
|          john|           doe|     UK|  LND|  4000|
|        Michel|         bevon|     UK|  LND|  5000|
|         james|         jones|     UK|  LND|  8000|
|          john|           doe|     UK|  MCR|  4000|
|        Michel|         bevon|     UK|  MCR|  5000|
+--------------+--------------+-------+-----+------+

In [0]:
#check the datatype of any variable
type(df)

pyspark.sql.connect.dataframe.DataFrame

In [0]:
#check the schema of the dataframe
df.printSchema()
#check the number of rows in the dataframe
df.count()

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)

10

In [0]:
#create a new schema for a dataframe usig the StructType and StructField
# https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/data_types.html

from pyspark.sql.types import *
Structschema = StructType([ \
    StructField("firstname",StringType(),False), \
    StructField("lastname",StringType(),True), \
    StructField("country",StringType(),False), \
    StructField("state",StringType(),False), \
    StructField("salary",StringType(),False)
  ])

In [0]:
#create a dataframe using the new struct schema
df = spark.createDataFrame(data = staticlist,schema = Structschema)
df.show()
df.printSchema()

+--------------+--------------+-------+-----+------+
|     firstname|      lastname|country|state|salary|
+--------------+--------------+-------+-----+------+
|         James|         Smith|    USA|   CA|  3000|
|       Michael|          Rose|    USA|   NY|  2500|
|        Robert|      Williams|    USA|   CA|  6000|
|         Maria|  Jones       |    USA|   FL|  4000|
|         james|jones         |     UK|  LND|  8000|
|          john|           doe|     UK|  LND|  4000|
|        Michel|         bevon|     UK|  LND|  5000|
|         james|         jones|     UK|  LND|  8000|
|          john|           doe|     UK|  MCR|  4000|
|        Michel|         bevon|     UK|  MCR|  5000|
+--------------+--------------+-------+-----+------+

root
 |-- firstname: string (nullable = false)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = false)
 |-- state: string (nullable = false)
 |-- salary: string (nullable = false)

In [0]:
#most used pyspark libraries
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import *
from delta.tables import *

In [0]:
# select specific columns from a dataframe using the "column name" Selection
# Using name in invered columns is not casr sensitive
df1 = df.select('firstname','lastname')
df1.show()

+--------------+--------------+
|     firstname|      lastname|
+--------------+--------------+
|         James|         Smith|
|       Michael|          Rose|
|        Robert|      Williams|
|         Maria|  Jones       |
|         james|jones         |
|          john|           doe|
|        Michel|         bevon|
|         james|         jones|
|          john|           doe|
|        Michel|         bevon|
+--------------+--------------+

In [0]:
df1.show()
df.show()

+--------------+--------------+
|     firstname|      lastname|
+--------------+--------------+
|         James|         Smith|
|       Michael|          Rose|
|        Robert|      Williams|
|         Maria|  Jones       |
|         james|jones         |
|          john|           doe|
|        Michel|         bevon|
|         james|         jones|
|          john|           doe|
|        Michel|         bevon|
+--------------+--------------+

+--------------+--------------+-------+-----+------+
|     firstname|      lastname|country|state|salary|
+--------------+--------------+-------+-----+------+
|         James|         Smith|    USA|   CA|  3000|
|       Michael|          Rose|    USA|   NY|  2500|
|        Robert|      Williams|    USA|   CA|  6000|
|         Maria|  Jones       |    USA|   FL|  4000|
|         james|jones         |     UK|  LND|  8000|
|          john|           doe|     UK|  LND|  4000|
|        Michel|         bevon|     UK|  LND|  5000|
|         james|         jones|     UK|  LND|  8000|
|          john|           doe|     UK|  MCR|  4000|
|        Michel|         bevon|     UK|  MCR|  5000|
+--------------+--------------+-------+-----+------+

In [0]:
# option2 using the dataframe method
# using this method the column names should be case sensitive
df1 = df.select(df.firstname,df.lastname)
df1.show()

# option3 using the dataframe method
# this method the column names are not a case sensitive
df2 = df.select(df["FIRSTNAME"],df["lastname"])
df2.show()

+--------------+--------------+
|     firstname|      lastname|
+--------------+--------------+
|         James|         Smith|
|       Michael|          Rose|
|        Robert|      Williams|
|         Maria|  Jones       |
|         james|jones         |
|          john|           doe|
|        Michel|         bevon|
|         james|         jones|
|          john|           doe|
|        Michel|         bevon|
+--------------+--------------+

+--------------+--------------+
|     FIRSTNAME|      lastname|
+--------------+--------------+
|         James|         Smith|
|       Michael|          Rose|
|        Robert|      Williams|
|         Maria|  Jones       |
|         james|jones         |
|          john|           doe|
|        Michel|         bevon|
|         james|         jones|
|          john|           doe|
|        Michel|         bevon|
+--------------+--------------+

In [0]:
# select the columns based on column method
# column name is not case sensitive in col method

from pyspark.sql.functions import *

df3 = df.select(df['firstname'],df['LASTNAME']).show()

+--------------+--------------+
|     firstname|      LASTNAME|
+--------------+--------------+
|         James|         Smith|
|       Michael|          Rose|
|        Robert|      Williams|
|         Maria|  Jones       |
|         james|jones         |
|          john|           doe|
|        Michel|         bevon|
|         james|         jones|
|          john|           doe|
|        Michel|         bevon|
+--------------+--------------+

In [0]:
# select the column names based on wildcard name

df2 = df.select(df.colRegex("`.*name.*`")).show()

+--------------+--------------+
|     firstname|      lastname|
+--------------+--------------+
|         James|         Smith|
|       Michael|          Rose|
|        Robert|      Williams|
|         Maria|  Jones       |
|         james|jones         |
|          john|           doe|
|        Michel|         bevon|
|         james|         jones|
|          john|           doe|
|        Michel|         bevon|
+--------------+--------------+

In [0]:
# chaning the datatype of the column
#option1 using the select method
df_cast1 = df.select("firstname","lastname","country","state",df.salary.cast(IntegerType()))
df_cast1.printSchema()

root
 |-- firstname: string (nullable = false)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = false)
 |-- state: string (nullable = false)
 |-- salary: integer (nullable = true)

In [0]:
# option2: using the withColumn method

df_cast2 = df.withColumn("salary",df.salary.cast(IntegerType()))
df_cast2.printSchema()

root
 |-- firstname: string (nullable = false)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = false)
 |-- state: string (nullable = false)
 |-- salary: integer (nullable = true)

In [0]:
# Adding a new calculated columns using the withColumn method
# add a new salary column with double the curretnt salary

df1 = df.withColumn("salary_new",df.salary*2)
df1.show()

+--------------+--------------+-------+-----+------+----------+
|     firstname|      lastname|country|state|salary|salary_new|
+--------------+--------------+-------+-----+------+----------+
|         James|         Smith|    USA|   CA|  3000|      6000|
|       Michael|          Rose|    USA|   NY|  2500|      5000|
|        Robert|      Williams|    USA|   CA|  6000|     12000|
|         Maria|  Jones       |    USA|   FL|  4000|      8000|
|         james|jones         |     UK|  LND|  8000|     16000|
|          john|           doe|     UK|  LND|  4000|      8000|
|        Michel|         bevon|     UK|  LND|  5000|     10000|
|         james|         jones|     UK|  LND|  8000|     16000|
|          john|           doe|     UK|  MCR|  4000|      8000|
|        Michel|         bevon|     UK|  MCR|  5000|     10000|
+--------------+--------------+-------+-----+------+----------+

In [0]:
# add a new calculated column full name, concatenate firt and last name
df1 = df.withColumn("FullName",concat(df.firstname, lit(" "),df.lastname))
df1.show()

+--------------+--------------+-------+-----+------+--------------------+
|     firstname|      lastname|country|state|salary|            FullName|
+--------------+--------------+-------+-----+------+--------------------+
|         James|         Smith|    USA|   CA|  3000|         James Smith|
|       Michael|          Rose|    USA|   NY|  2500|        Michael Rose|
|        Robert|      Williams|    USA|   CA|  6000|     Robert Williams|
|         Maria|  Jones       |    USA|   FL|  4000|  Maria Jones       |
|         james|jones         |     UK|  LND|  8000|james jones         |
|          john|           doe|     UK|  LND|  4000|            john doe|
|        Michel|         bevon|     UK|  LND|  5000|        Michel bevon|
|         james|         jones|     UK|  LND|  8000|         james jones|
|          john|           doe|     UK|  MCR|  4000|            john doe|
|        Michel|         bevon|     UK|  MCR|  5000|        Michel bevon|
+--------------+--------------+-------+-----+------+--------------------+

In [0]:
#add a static column called Reportnam and values should be "empinfo"
df1 = df.withColumn("ReportName",lit("EmpInfo"))
df1.show()

+--------------+--------------+-------+-----+------+----------+
|     firstname|      lastname|country|state|salary|ReportName|
+--------------+--------------+-------+-----+------+----------+
|         James|         Smith|    USA|   CA|  3000|   EmpInfo|
|       Michael|          Rose|    USA|   NY|  2500|   EmpInfo|
|        Robert|      Williams|    USA|   CA|  6000|   EmpInfo|
|         Maria|  Jones       |    USA|   FL|  4000|   EmpInfo|
|         james|jones         |     UK|  LND|  8000|   EmpInfo|
|          john|           doe|     UK|  LND|  4000|   EmpInfo|
|        Michel|         bevon|     UK|  LND|  5000|   EmpInfo|
|         james|         jones|     UK|  LND|  8000|   EmpInfo|
|          john|           doe|     UK|  MCR|  4000|   EmpInfo|
|        Michel|         bevon|     UK|  MCR|  5000|   EmpInfo|
+--------------+--------------+-------+-----+------+----------+

In [0]:
# renaming a column
# option1: using the select method
df1 = df.select(df.firstname.alias("F_NAME"),df.lastname.alias("L_NAME"),df.country,df.state,df.salary)
df1.show()

+--------------+--------------+-------+-----+------+
|        F_NAME|        L_NAME|country|state|salary|
+--------------+--------------+-------+-----+------+
|         James|         Smith|    USA|   CA|  3000|
|       Michael|          Rose|    USA|   NY|  2500|
|        Robert|      Williams|    USA|   CA|  6000|
|         Maria|  Jones       |    USA|   FL|  4000|
|         james|jones         |     UK|  LND|  8000|
|          john|           doe|     UK|  LND|  4000|
|        Michel|         bevon|     UK|  LND|  5000|
|         james|         jones|     UK|  LND|  8000|
|          john|           doe|     UK|  MCR|  4000|
|        Michel|         bevon|     UK|  MCR|  5000|
+--------------+--------------+-------+-----+------+

In [0]:
# option2: using the withColumnRenamed method
df1 = df.withColumnRenamed("firstname","F_NAME")\
    .withColumnRenamed("lastname","L_NAME")
df1.show()

+--------------+--------------+-------+-----+------+
|        F_NAME|        L_NAME|country|state|salary|
+--------------+--------------+-------+-----+------+
|         James|         Smith|    USA|   CA|  3000|
|       Michael|          Rose|    USA|   NY|  2500|
|        Robert|      Williams|    USA|   CA|  6000|
|         Maria|  Jones       |    USA|   FL|  4000|
|         james|jones         |     UK|  LND|  8000|
|          john|           doe|     UK|  LND|  4000|
|        Michel|         bevon|     UK|  LND|  5000|
|         james|         jones|     UK|  LND|  8000|
|          john|           doe|     UK|  MCR|  4000|
|        Michel|         bevon|     UK|  MCR|  5000|
+--------------+--------------+-------+-----+------+