In [0]:
from pyspark.sql.types import *

staticlist =[("     James","Smith","USA","CA",3000),
    ("Michael","Rose","USA","NY",2500),
    ("Robert","Williams","USA","CA",6000),
    ("Maria","Jones       ","USA","FL",4000),
    ("james","jones         ","UK","LND",8000),
    ("john","doe","UK","LND",4000),
    ("        Michel","bevon","UK","LND",5000),
    ("james","jones","UK","LND",8000),
    ("john","doe","UK","MCR",4000),
    ("Michel","bevon","UK","MCR",5000),
 ]
 

Structschema = StructType([ \
    StructField("FirstName",StringType(),False), \
    StructField("LastName",StringType(),True), \
    StructField("Country",StringType(),False), \
    StructField("State",StringType(),False), \
    StructField("Salary",IntegerType(),False)
  ])

df = spark.createDataFrame(data = staticlist,schema = Structschema)
df.show()

+--------------+--------------+-------+-----+------+
|     FirstName|      LastName|Country|State|Salary|
+--------------+--------------+-------+-----+------+
|         James|         Smith|    USA|   CA|  3000|
|       Michael|          Rose|    USA|   NY|  2500|
|        Robert|      Williams|    USA|   CA|  6000|
|         Maria|  Jones       |    USA|   FL|  4000|
|         james|jones         |     UK|  LND|  8000|
|          john|           doe|     UK|  LND|  4000|
|        Michel|         bevon|     UK|  LND|  5000|
|         james|         jones|     UK|  LND|  8000|
|          john|           doe|     UK|  MCR|  4000|
|        Michel|         bevon|     UK|  MCR|  5000|
+--------------+--------------+-------+-----+------+

In [0]:
# place a filter where salary is above 5000 (single column filter)
df_filter1 = df.filter(
    "salary > 5000"
)
df_filter1.show()

# place a filter where salary is 5000 and above (single column filter)
df_filter2 = df.filter(
    "salary >= 5000"
)
df_filter2.show()

+---------+--------------+-------+-----+------+
|FirstName|      LastName|Country|State|Salary|
+---------+--------------+-------+-----+------+
|   Robert|      Williams|    USA|   CA|  6000|
|    james|jones         |     UK|  LND|  8000|
|    james|         jones|     UK|  LND|  8000|
+---------+--------------+-------+-----+------+

+--------------+--------------+-------+-----+------+
|     FirstName|      LastName|Country|State|Salary|
+--------------+--------------+-------+-----+------+
|        Robert|      Williams|    USA|   CA|  6000|
|         james|jones         |     UK|  LND|  8000|
|        Michel|         bevon|     UK|  LND|  5000|
|         james|         jones|     UK|  LND|  8000|
|        Michel|         bevon|     UK|  MCR|  5000|
+--------------+--------------+-------+-----+------+

In [0]:
# Mutiple column filters
# get employees with salary > 5000 and country is USA
df_filter3 = df.filter(
    "salary > 5000 and country = 'USA'"
)
df_filter3.show()

+---------+--------+-------+-----+------+
|FirstName|LastName|Country|State|Salary|
+---------+--------+-------+-----+------+
|   Robert|Williams|    USA|   CA|  6000|
+---------+--------+-------+-----+------+

In [0]:
# opton 2  using the dataframe method
df_filter4 = df.filter(
    df["salary"] > 5000
)
df_filter4.show()

+---------+--------------+-------+-----+------+
|FirstName|      LastName|Country|State|Salary|
+---------+--------------+-------+-----+------+
|   Robert|      Williams|    USA|   CA|  6000|
|    james|jones         |     UK|  LND|  8000|
|    james|         jones|     UK|  LND|  8000|
+---------+--------------+-------+-----+------+

In [0]:
# option2: multiple columns
# when using dataframe AND will be replaced with "&" symbol, OD will be replace with "|" symbol and "=" will be replaced with "==" symbol
df_filter5 = df.filter(
    (df["salary"] > 5000) & (df["country"] == "USA")
)
df_filter5.show()

+---------+--------+-------+-----+------+
|FirstName|LastName|Country|State|Salary|
+---------+--------+-------+-----+------+
|   Robert|Williams|    USA|   CA|  6000|
+---------+--------+-------+-----+------+

In [0]:
# Multiple columns and multiple conditions
# if counr=try is USA then salary > 5000, if country is not USA then salary > 3000
df_filter6 = df.filter(
        (df["country"] == "USA") & (df["salary"] > 5000) 
    | 
        (df["country"] != "USA") & (df["salary"] > 3000)
)
df_filter6.show()

+--------------+--------------+-------+-----+------+
|     FirstName|      LastName|Country|State|Salary|
+--------------+--------------+-------+-----+------+
|        Robert|      Williams|    USA|   CA|  6000|
|         james|jones         |     UK|  LND|  8000|
|          john|           doe|     UK|  LND|  4000|
|        Michel|         bevon|     UK|  LND|  5000|
|         james|         jones|     UK|  LND|  8000|
|          john|           doe|     UK|  MCR|  4000|
|        Michel|         bevon|     UK|  MCR|  5000|
+--------------+--------------+-------+-----+------+