In [0]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [0]:


staticlist =[("     James","Smith","USA","CA",3000),
    ("Michael","Rose","USA","NY",2500),
    ("Robert","Williams","USA","CA",6000),
    ("Maria","Jones       ","USA","FL",4000),
    ("james","jones         ","UK","LND",8000),
    ("john","doe","UK","LND",4000),
    ("        Michel","bevon","UK","LND",5000),
    ("james","jones","UK","LND",8000),
    ("john","doe","UK","MCR",4000),
    ("Michel","bevon","UK","MCR",5000)
 ]
 
columns = ["firstname","LastName","Country","State","Salary"]
df = spark.createDataFrame(data=staticlist, schema = columns)
df.show()

+--------------+--------------+-------+-----+------+
|     firstname|      LastName|Country|State|Salary|
+--------------+--------------+-------+-----+------+
|         James|         Smith|    USA|   CA|  3000|
|       Michael|          Rose|    USA|   NY|  2500|
|        Robert|      Williams|    USA|   CA|  6000|
|         Maria|  Jones       |    USA|   FL|  4000|
|         james|jones         |     UK|  LND|  8000|
|          john|           doe|     UK|  LND|  4000|
|        Michel|         bevon|     UK|  LND|  5000|
|         james|         jones|     UK|  LND|  8000|
|          john|           doe|     UK|  MCR|  4000|
|        Michel|         bevon|     UK|  MCR|  5000|
+--------------+--------------+-------+-----+------+

In [0]:
# get the Upper case, lower case and title case for any string
# you can apply these functions nside the withColumn method to apply the required transformations

# get the upper case for above dataframe

df2 = df.withColumn("upperCase",upper("firstname"))\
        .withColumn("lowerCase",lower("firstname"))\
        .withColumn("titleCase",initcap("firstname"))
df2.show()

+--------------+--------------+-------+-----+------+--------------+--------------+--------------+
|     firstname|      LastName|Country|State|Salary|     upperCase|     lowerCase|     titleCase|
+--------------+--------------+-------+-----+------+--------------+--------------+--------------+
|         James|         Smith|    USA|   CA|  3000|         JAMES|         james|         James|
|       Michael|          Rose|    USA|   NY|  2500|       MICHAEL|       michael|       Michael|
|        Robert|      Williams|    USA|   CA|  6000|        ROBERT|        robert|        Robert|
|         Maria|  Jones       |    USA|   FL|  4000|         MARIA|         maria|         Maria|
|         james|jones         |     UK|  LND|  8000|         JAMES|         james|         James|
|          john|           doe|     UK|  LND|  4000|          JOHN|          john|          John|
|        Michel|         bevon|     UK|  LND|  5000|        MICHEL|        michel|        Michel|
|         james|         jones|     UK|  LND|  8000|         JAMES|         james|         James|
|          john|           doe|     UK|  MCR|  4000|          JOHN|          john|          John|
|        Michel|         bevon|     UK|  MCR|  5000|        MICHEL|        michel|        Michel|
+--------------+--------------+-------+-----+------+--------------+--------------+--------------+

In [0]:
# concat firstname and lastname to create a full name
# concat("col1","col2") will concat col1 and col2
# concat_ws[With Separator](",","col1","col2") will concat col1 and col2 with a comma between them

df2 = df2.withColumn("fullName",concat(initcap("firstname"),lit(" "),initcap("LastName")))
df2.show()

+--------------+--------------+-------+-----+------+--------------+--------------+--------------+--------------------+
|     firstname|      LastName|Country|State|Salary|     upperCase|     lowerCase|     titleCase|            fullName|
+--------------+--------------+-------+-----+------+--------------+--------------+--------------+--------------------+
|         James|         Smith|    USA|   CA|  3000|         JAMES|         james|         James|         James Smith|
|       Michael|          Rose|    USA|   NY|  2500|       MICHAEL|       michael|       Michael|        Michael Rose|
|        Robert|      Williams|    USA|   CA|  6000|        ROBERT|        robert|        Robert|     Robert Williams|
|         Maria|  Jones       |    USA|   FL|  4000|         MARIA|         maria|         Maria|  Maria Jones       |
|         james|jones         |     UK|  LND|  8000|         JAMES|         james|         James|James Jones         |
|          john|           doe|     UK|  LND|  4000|          JOHN|          john|          John|            John Doe|
|        Michel|         bevon|     UK|  LND|  5000|        MICHEL|        michel|        Michel|        Michel Bevon|
|         james|         jones|     UK|  LND|  8000|         JAMES|         james|         James|         James Jones|
|          john|           doe|     UK|  MCR|  4000|          JOHN|          john|          John|            John Doe|
|        Michel|         bevon|     UK|  MCR|  5000|        MICHEL|        michel|        Michel|        Michel Bevon|
+--------------+--------------+-------+-----+------+--------------+--------------+--------------+--------------------+

In [0]:
#removeing leading and trailing spaces
df2 = df2.withColumn("fullName",trim("fullName"))
df2.show()

+--------------+--------------+-------+-----+------+--------------+--------------+--------------+---------------+
|     firstname|      LastName|Country|State|Salary|     upperCase|     lowerCase|     titleCase|       fullName|
+--------------+--------------+-------+-----+------+--------------+--------------+--------------+---------------+
|         James|         Smith|    USA|   CA|  3000|         JAMES|         james|         James|    James Smith|
|       Michael|          Rose|    USA|   NY|  2500|       MICHAEL|       michael|       Michael|   Michael Rose|
|        Robert|      Williams|    USA|   CA|  6000|        ROBERT|        robert|        Robert|Robert Williams|
|         Maria|  Jones       |    USA|   FL|  4000|         MARIA|         maria|         Maria|    Maria Jones|
|         james|jones         |     UK|  LND|  8000|         JAMES|         james|         James|    James Jones|
|          john|           doe|     UK|  LND|  4000|          JOHN|          john|          John|       John Doe|
|        Michel|         bevon|     UK|  LND|  5000|        MICHEL|        michel|        Michel|   Michel Bevon|
|         james|         jones|     UK|  LND|  8000|         JAMES|         james|         James|    James Jones|
|          john|           doe|     UK|  MCR|  4000|          JOHN|          john|          John|       John Doe|
|        Michel|         bevon|     UK|  MCR|  5000|        MICHEL|        michel|        Michel|   Michel Bevon|
+--------------+--------------+-------+-----+------+--------------+--------------+--------------+---------------+

In [0]:
# trim the last name
df3 = df.withColumn("Trimedversion",trim("LastName"))
df3.show()

+--------------+--------------+-------+-----+------+-------------+
|     firstname|      LastName|Country|State|Salary|Trimedversion|
+--------------+--------------+-------+-----+------+-------------+
|         James|         Smith|    USA|   CA|  3000|        Smith|
|       Michael|          Rose|    USA|   NY|  2500|         Rose|
|        Robert|      Williams|    USA|   CA|  6000|     Williams|
|         Maria|  Jones       |    USA|   FL|  4000|        Jones|
|         james|jones         |     UK|  LND|  8000|        jones|
|          john|           doe|     UK|  LND|  4000|          doe|
|        Michel|         bevon|     UK|  LND|  5000|        bevon|
|         james|         jones|     UK|  LND|  8000|        jones|
|          john|           doe|     UK|  MCR|  4000|          doe|
|        Michel|         bevon|     UK|  MCR|  5000|        bevon|
+--------------+--------------+-------+-----+------+-------------+

In [0]:
# get the left ,right and middle values of any given string
# syntax: substring("<COLNMAE>",<STARTIG_POSITION>,<LENGTH_OF_STRING>)
df4 = df.withColumn("FullName",concat(initcap("firstname"),lit(" "),initcap("LastName")))\
   . withColumn("FullName",trim("FullName"))
df5 = df4.withColumn("First4Letters",substring("FullName",0,3))\
        .withColumn("Last4letters",substring("FullName",-4,4))\
        .withColumn("MiddleLetters",substring("FullName",3,4))\
        .withColumn("3rddigit_to_rest",substring("FullName",3,length("FullName")))
df5.show()

+--------------+--------------+-------+-----+------+---------------+-------------+------------+-------------+----------------+
|     firstname|      LastName|Country|State|Salary|       FullName|First4Letters|Last4letters|MiddleLetters|3rddigit_to_rest|
+--------------+--------------+-------+-----+------+---------------+-------------+------------+-------------+----------------+
|         James|         Smith|    USA|   CA|  3000|    James Smith|          Jam|        mith|         mes |       mes Smith|
|       Michael|          Rose|    USA|   NY|  2500|   Michael Rose|          Mic|        Rose|         chae|      chael Rose|
|        Robert|      Williams|    USA|   CA|  6000|Robert Williams|          Rob|        iams|         bert|   bert Williams|
|         Maria|  Jones       |    USA|   FL|  4000|    Maria Jones|          Mar|        ones|         ria |       ria Jones|
|         james|jones         |     UK|  LND|  8000|    James Jones|          Jam|        ones|         mes |       mes Jones|
|          john|           doe|     UK|  LND|  4000|       John Doe|          Joh|         Doe|         hn D|          hn Doe|
|        Michel|         bevon|     UK|  LND|  5000|   Michel Bevon|          Mic|        evon|         chel|      chel Bevon|
|         james|         jones|     UK|  LND|  8000|    James Jones|          Jam|        ones|         mes |       mes Jones|
|          john|           doe|     UK|  MCR|  4000|       John Doe|          Joh|         Doe|         hn D|          hn Doe|
|        Michel|         bevon|     UK|  MCR|  5000|   Michel Bevon|          Mic|        evon|         chel|      chel Bevon|
+--------------+--------------+-------+-----+------+---------------+-------------+------------+-------------+----------------+

In [0]:
# get the length of string
# len("colname")

df6 = df5.withColumn(
    "length",
    length("FullName")
)
display(df6)

firstname,LastName,Country,State,Salary,FullName,First4Letters,Last4letters,MiddleLetters,3rddigit_to_rest,length
James,Smith,USA,CA,3000,James Smith,Jam,mith,mes,mes Smith,11
Michael,Rose,USA,NY,2500,Michael Rose,Mic,Rose,chae,chael Rose,12
Robert,Williams,USA,CA,6000,Robert Williams,Rob,iams,bert,bert Williams,15
Maria,Jones,USA,FL,4000,Maria Jones,Mar,ones,ria,ria Jones,11
james,jones,UK,LND,8000,James Jones,Jam,ones,mes,mes Jones,11
john,doe,UK,LND,4000,John Doe,Joh,Doe,hn D,hn Doe,8
Michel,bevon,UK,LND,5000,Michel Bevon,Mic,evon,chel,chel Bevon,12
james,jones,UK,LND,8000,James Jones,Jam,ones,mes,mes Jones,11
john,doe,UK,MCR,4000,John Doe,Joh,Doe,hn D,hn Doe,8
Michel,bevon,UK,MCR,5000,Michel Bevon,Mic,evon,chel,chel Bevon,12

In [0]:
df6 = df.withColumn("FullName",concat(initcap("firstname"),lit(" "),initcap("LastName")))\
   . withColumn("FullName",trim("FullName"))\
   .withColumn("length",length("FullName"))
df6.show()

+--------------+--------------+-------+-----+------+---------------+------+
|     firstname|      LastName|Country|State|Salary|       FullName|length|
+--------------+--------------+-------+-----+------+---------------+------+
|         James|         Smith|    USA|   CA|  3000|    James Smith|    11|
|       Michael|          Rose|    USA|   NY|  2500|   Michael Rose|    12|
|        Robert|      Williams|    USA|   CA|  6000|Robert Williams|    15|
|         Maria|  Jones       |    USA|   FL|  4000|    Maria Jones|    11|
|         james|jones         |     UK|  LND|  8000|    James Jones|    11|
|          john|           doe|     UK|  LND|  4000|       John Doe|     8|
|        Michel|         bevon|     UK|  LND|  5000|   Michel Bevon|    12|
|         james|         jones|     UK|  LND|  8000|    James Jones|    11|
|          john|           doe|     UK|  MCR|  4000|       John Doe|     8|
|        Michel|         bevon|     UK|  MCR|  5000|   Michel Bevon|    12|
+--------------+--------------+-------+-----+------+---------------+------+

In [0]:
list1 = [('Ram','Kumar',None),(None,'Vijay','raj'),(None,None,"Raj")]
df7 = spark.createDataFrame(data=list1, schema = ["Col1","Col2","Col3"])
df8 = df7.withColumn("coalesce",coalesce("Col1","Col2","Col3"))
df8.show()

+----+-----+----+--------+
|Col1| Col2|Col3|coalesce|
+----+-----+----+--------+
| Ram|Kumar|NULL|     Ram|
|NULL|Vijay| raj|   Vijay|
|NULL| NULL| Raj|     Raj|
+----+-----+----+--------+

In [0]:
df8 = df4.withColumn("split",split("fullName"," ",0))
df8.show()
df9 = df8.withColumn("First_split",df8.split[0])\
        .withColumn("Second_split",df8.split[1])
df9.show()

+--------------+--------------+-------+-----+------+---------------+------------------+
|     firstname|      LastName|Country|State|Salary|       FullName|             split|
+--------------+--------------+-------+-----+------+---------------+------------------+
|         James|         Smith|    USA|   CA|  3000|    James Smith|    [James, Smith]|
|       Michael|          Rose|    USA|   NY|  2500|   Michael Rose|   [Michael, Rose]|
|        Robert|      Williams|    USA|   CA|  6000|Robert Williams|[Robert, Williams]|
|         Maria|  Jones       |    USA|   FL|  4000|    Maria Jones|    [Maria, Jones]|
|         james|jones         |     UK|  LND|  8000|    James Jones|    [James, Jones]|
|          john|           doe|     UK|  LND|  4000|       John Doe|       [John, Doe]|
|        Michel|         bevon|     UK|  LND|  5000|   Michel Bevon|   [Michel, Bevon]|
|         james|         jones|     UK|  LND|  8000|    James Jones|    [James, Jones]|
|          john|           doe|     UK|  MCR|  4000|       John Doe|       [John, Doe]|
|        Michel|         bevon|     UK|  MCR|  5000|   Michel Bevon|   [Michel, Bevon]|
+--------------+--------------+-------+-----+------+---------------+------------------+

+--------------+--------------+-------+-----+------+---------------+------------------+-----------+------------+
|     firstname|      LastName|Country|State|Salary|       FullName|             split|First_split|Second_split|
+--------------+--------------+-------+-----+------+---------------+------------------+-----------+------------+
|         James|         Smith|    USA|   CA|  3000|    James Smith|    [James, Smith]|      James|       Smith|
|       Michael|          Rose|    USA|   NY|  2500|   Michael Rose|   [Michael, Rose]|    Michael|        Rose|
|        Robert|      Williams|    USA|   CA|  6000|Robert Williams|[Robert, Williams]|     Robert|    Williams|
|         Maria|  Jones       |    USA|   FL|  4000|    Maria Jones|    [Maria, Jones]|      Maria|       Jones|
|         james|jones         |     UK|  LND|  8000|    James Jones|    [James, Jones]|      James|       Jones|
|          john|           doe|     UK|  LND|  4000|       John Doe|       [John, Doe]|       John|         Doe|
|        Michel|         bevon|     UK|  LND|  5000|   Michel Bevon|   [Michel, Bevon]|     Michel|       Bevon|
|         james|         jones|     UK|  LND|  8000|    James Jones|    [James, Jones]|      James|       Jones|
|          john|           doe|     UK|  MCR|  4000|       John Doe|       [John, Doe]|       John|         Doe|
|        Michel|         bevon|     UK|  MCR|  5000|   Michel Bevon|   [Michel, Bevon]|     Michel|       Bevon|
+--------------+--------------+-------+-----+------+---------------+------------------+-----------+------------+

In [0]:
# find the position of a string
# instr function is case sensitive
# syntax: instr("<COLUMN_NAME>","<STRING_TO_SEARCH>")
df9 = df9.withColumn("position",instr("fullName","a"))
df9.show()

+--------------+--------------+-------+-----+------+---------------+------------------+-----------+------------+--------+
|     firstname|      LastName|Country|State|Salary|       FullName|             split|First_split|Second_split|position|
+--------------+--------------+-------+-----+------+---------------+------------------+-----------+------------+--------+
|         James|         Smith|    USA|   CA|  3000|    James Smith|    [James, Smith]|      James|       Smith|       2|
|       Michael|          Rose|    USA|   NY|  2500|   Michael Rose|   [Michael, Rose]|    Michael|        Rose|       5|
|        Robert|      Williams|    USA|   CA|  6000|Robert Williams|[Robert, Williams]|     Robert|    Williams|      13|
|         Maria|  Jones       |    USA|   FL|  4000|    Maria Jones|    [Maria, Jones]|      Maria|       Jones|       2|
|         james|jones         |     UK|  LND|  8000|    James Jones|    [James, Jones]|      James|       Jones|       2|
|          john|           doe|     UK|  LND|  4000|       John Doe|       [John, Doe]|       John|         Doe|       0|
|        Michel|         bevon|     UK|  LND|  5000|   Michel Bevon|   [Michel, Bevon]|     Michel|       Bevon|       0|
|         james|         jones|     UK|  LND|  8000|    James Jones|    [James, Jones]|      James|       Jones|       2|
|          john|           doe|     UK|  MCR|  4000|       John Doe|       [John, Doe]|       John|         Doe|       0|
|        Michel|         bevon|     UK|  MCR|  5000|   Michel Bevon|   [Michel, Bevon]|     Michel|       Bevon|       0|
+--------------+--------------+-------+-----+------+---------------+------------------+-----------+------------+--------+